
.DS_Store
._*
*~
.coverage
*.pyc
__pycache__
runtime

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.externalToolBuilders/
*.launch
.vscode/
.env

.rt-deps/
.rt-sandbox/

